
#mainDiv {
    width:100%; 
    margin:0px;
    padding-top:10px ;
    border-bottom:2px solid white;
}

#anchorTag {
    width:90px;
    height:90px;
    border-radius:50%; 
    border:2px solid #FFF;
}

#anchorTag2 {
    width:100px;
    height:100px;
    border-radius:50%; 
    border:2px solid #FFF;
    :hover{
        cursor: pointer;
    }
}

#firstAndLastDiv {
    display:flex; 
    align-items: center;
}

#middleDiv {
    display:flex;
    align-items:center;
    padding:10px;
}

.clipper-new-post-margin-button{
    display:flex;
    align-items:center;
    :hover{
        cursor: pointer;
    }
}

#clipper-add-post-image-form{
    text-align: center;
}

#clipper-add-post-image{
    display:none
}

#clipper-add-post-image-label{
    width:90px;
    height:90px;
    border-radius:50%; 
    border:2px solid #FFF;
    color: #FFF;
    padding: 10px;
    font-weight: 600;
    font-size: 120%;
}