#outerDiv {
    float:left;
    height: 100%;
}

#pTag {
    text-align: right;
    padding-right:10%;
}

#imgTag {
    height:150px;
    width:150px; 
    display:block; 
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
    border:2px solid white;
}

#h2Tag {
    text-align:center;
}

.clipper-profile-pane-info {
    text-align:left;
    margin:20px;
    margin-left:30px;
}


.niceLinks {
    color: purple;
}

#backButton{
    margin-left: 20px;
}



#clipper-info-edit-begin{
    border:2px solid white;
    padding:2px;
    color: white;
    background-color: #202430;
    line-height: 1;

    :hover{
        background-color: aqua;
        cursor: pointer;
    }
}

#clipper-user-editing-form{
    background-color: #bbb;
    margin-right: 20px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #202430;
    line-height: 1.5;
}

.clipper-user-editing-form-element{
    margin-bottom: 10px;
    color: #202430;
}

#clipper-pfp-upload{
    display:none;
}

#clipper-pfp-upload-wrapper{
    background-color: #202430;
    color: white;
    padding: 5px;
    border-radius: 5px;
}