#outerDiv {
    float:left;
    height: 100%;
}

#pTag {
    text-align: right;
    padding-right:20%;
}

#imgTag {
    height:150px;
    width:150px; 
    display:block; 
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
    border:2px solid white;
}

#h2Tag {
    text-align:center;
}

#div1 {
    text-align:left;
     padding:20px;
     padding-left:30px;
}