$commonColor: white;
$sideBarColor: #202430;

$commonHeight: 1000px;

#div1 {
    height: $commonHeight;
}

#div2 {
    height: $commonHeight;
    color: $sideBarColor;
}

#div3 {
    color: $commonColor;
}