$commonColor:  #202430;

$formPosition: left;

.theFormPosition {
    text-align: $formPosition;
}


#commonColor {
    color: $commonColor;
}

#commonBackground {
    background: $commonColor;
}




