$commonColor:  #202430;

$formPosition: left;

$forClipper: '30px';
$forClipper2: 'bold';

#theFormPosition {
    text-align: $formPosition;
}


#commonColor {
    color: $commonColor;
}

#commonBackground {
    background: $commonColor;
}

.forClipper {
    font-size: $forClipper;
    font-weight: $forClipper2;
}
