
#outerDiv {
    width:100%;
    margin:0px ;
    display:flex;
    align-items: center;
    border-bottom:2px solid white;
}

#div1U {
    display:flex;
    align-items: center
}

#div2U {
    display:flex;
     align-items: center;
     padding:10px;
}

#div3U {
    width:100%;
    
}

#anchorOne {
    width:90px;
    height:90px;
    border-radius:50%; 
    border:2px solid #FFF;
}

#anchorTwo {
    width:100px;
    height:100px;
    :hover{
        cursor: pointer;
    }
    
}

