body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orgDiv {
  padding: 0px;
  margin: 0px;
}

.whiteText {
  color: #FFFFFf;
}

.GreyBackground {
  background-color: #202430;
}

.BlueBackground {
  background-color: #2a76b2;
  color: #FFFFFf;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  position: absolute;
  overflow: hidden;

  height: 100%;
  width:100%;
  
  
}
.feedWrapper{
  position: absolute;
  overflow-x:hidden;
  overflow-y: scroll;
  height: 95%;
}

/* Position child elements relative to this element */
.aspect-ratio-box {
  position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
  display: block;
  content: '';
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
  /* Image should match parent box size */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}